In [2]:
import pandas as pd

In [8]:
student=pd.read_excel('D:/# 박상희/2. 실습/data/student_data.xlsx')

In [9]:
student.describe()

                키        몸무게         나이
count    5.000000   5.000000   5.000000
mean   170.000000  59.500000  22.800000
std      3.162278   8.146779   1.643168
min    166.000000  50.000000  21.000000
25%    168.000000  52.700000  22.000000
50%    170.000000  60.000000  22.000000
75%    172.000000  66.000000  24.000000
max    174.000000  68.800000  25.000000

In [18]:
print(student['키'].count())
print(student['키'].mean())
print("-----------")
print(student['몸무게'].count())
print(student['몸무게'].mean())

5
170.0
-----------
5
59.5

In [20]:
import numpy as np

In [21]:
np.var(student['몸무게'])

53.09599999999998

In [22]:
np.std(student['몸무게'])

7.286700213402496

In [23]:
np.sqrt(student['몸무게'])

0    7.745967
1    7.071068
2    8.124038
3    7.259477
4    8.294577
Name: 몸무게, dtype: float64

In [24]:
np.sqrt(np.var(student['몸무게']))

7.286700213402496

In [27]:
import scipy as sp

In [28]:
from scipy import ndimage

In [29]:
np.array(student['몸무게'])

array([60. , 50. , 66. , 52.7, 68.8])

In [30]:
ndimage.variance(np.array(student['몸무게']))

53.09599999999998

In [31]:
ndimage.standard_deviation(np.array(student['몸무게']))

7.286700213402496